<footer class="page-footer grey">
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Camera Works
      <a class="grey-text text-lighten-4 right" href="#">Soporte</a>
    </div>
  </div>
</footer>
