<header>
  <nav>
    <div class="nav-wrapper grey">
      <a href="#" class="brand-logo">
        <img src="/images/Logo.png" alt="" style="height: 56px;">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Generar Recibo</a></li>
        <li><a href="#">Generar Factura</a></li>
        <li><a href="#">Consultar Facturas</a></li>
      </ul>
    </div>
  </nav>
</header>
