body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.inputs {
  border-bottom: none;
height: unset;
margin: unset;
width: unset;
}
/*
.header-main {
  margin: 0;
} */
